html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.232);
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.appHeader {
  display: flex;
  justify-content: space-between;
}
.time {
  align-self: center;
}
.crypto-holder {
  display: flex;
}
.crypto-image {
  height: 50px;
}
