html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.232);
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section {
  padding: 1em;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
}
.time-body {
  align-self: center;
}

.crypto-header {
  display: flex;
  align-items: center;
}
.crypto-image {
  height: 40px;
}
.crypto-name {
  flex-grow: 1;
  text-align: center;
}
.crypto-market {
  display: flex;
  flex-direction: column;
  line-height: 0;
}
.weather-section {
  display: flex;
  flex-direction: column;
}
